global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:

  - job_name: nodes
    file_sd_configs:
      - files:
          - /etc/prometheus/targets/node_targets.yml
        refresh_interval: 30s

  - job_name: cadvisor
    file_sd_configs:
      - files:
          - /etc/prometheus/targets/cadvisor_targets.yml
        refresh_interval: 30s
