- name: Ensure groups are present
  ansible.builtin.group:
    name: "{{ item.name }}"
    state: present
    gid: "{{ item.gid }}"
  loop: 
    "{{ user_groups }}"

- name: Ensure users are present
  ansible.builtin.user:
    name: "{{ item.name }}"
    shell: /bin/bash
    groups: "{{ item.group }}"
    append: yes
  loop: 
    "{{ users }}"

- name: Give admins sudo access without password
  community.general.sudoers:
    name: admins-sudo
    group: admins # TODO: query groups with attr full_sudo: true
    state: present
    commands: ALL
  
- name: Add authorized key for users
  ansible.posix.authorized_key:
    user: "{{ item.name }}"
    state: present
    key: "{{ item.ssh_public_key }}"
  loop: 
    "{{ users }}"